*.dbmdl
*.log
*.log.*
*.suo
*.user
*.VisualState.xml

UpgradeLog.*

_ReSharper*/
_UpgradeReport_Files/
[Bb]in
[Oo]bj/
[Tt]est[Rr]esult*
[Tt]umbs.db

**/App_Data/ASPNETDB.MDF
**/App_Data/aspnetdb_log.ldf

Docs/_build/
build/
SharpTAL*.nupkg
SharpTAL*.zip
